:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.container-actions {
  display: flex;
  gap: 16px;
}

.container-movies {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  overflow: auto;
}