:host {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  border: 1px solid black;
}

.container-main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container-header {
  font-weight: 600;
  overflow: hidden;
}
